<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>
<%= current_page.data.title || "Middleman" %>
</title>

    <%= stylesheet_link_tag :normalize %>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :genericons %>
  </head>

  <body>
    <header class='site-header'>
      <%= image_tag '//secure.gravatar.com/avatar/6c137ee3013821b517c4b9beed0145df/?s=120&d=mm', alt: 'Profile Picture', class: 'header-image' %>
      <h1>ferperales.net</h1>
      <navbar>
        <ul class='menu'>
          <li id='home' class='undecorated-link' >
              <a href='/'>Home</a>
          </li>&<li id='talks' class='undecorated-link'>
              <a href='/talks'>Talks</a>
          </li>&<li id='community' class='undecorated-link'>
              <a href='/community'>Community</a>
          </li>&<li id='hire_me' class='undecorated-link'>
              <a href='/hire_me'>Hire me</a>
          </li>&<li id='contact' class='undecorated-link'>
              <a href='/contact'>Contact</a>
          </li>
        </ul>
      </navbar>
    </header>
    <div class='content'>
      <%= yield %>
    </div>
    <hr />
    <footer>
      <div class='social-footer'>
        <ul class='undecorated-list social-list'>
          <li >
            <a href="https://www.facebook.com/ferperalesm/" class="genericon genericon-facebook" target="_blank">
              <span class="screen-reader-text">View ferperalesm’s profile on Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/ferperalesm/" class="genericon genericon-twitter" target="_blank">
              <span class="screen-reader-text">View ferperalesm’s profile on Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/ferperales/" class="genericon genericon-instagram" target="_blank">
              <span class="screen-reader-text">View ferperales’s profile on Instagram</span>
            </a>
          </li>
         <li>
            <a href="https://www.linkedin.com/in/ferperales/" class="genericon genericon-linkedin" target="_blank">
              <span class="screen-reader-text">View ferperales’s profile on LinkedIn</span>
            </a>
          </li>
        <li>
          <a href="https://github.com/ferperales/" class="genericon genericon-github" target="_blank">
            <span class="screen-reader-text">View ferperales’s profile on GitHub</span>
          </a>
        </li>
      </ul>
    </div>
      <div class='personal-links site-footer'>
        <div>
                <a class=' undecorated-link padded-link' target='_blank' href='http://blog.ferperales.net'>Blog</a>
                <a class=' undecorated-link padded-link' target='_blank' href='http://ferperales.net/contact'>Contact me</a>
        </div>
        <div class='credits undecorated-link'>
                Theme based on Wordpress theme Fastr by Kanish
        </div>
      </div>

    </footer>
  </body>
  <%= javascript_include_tag :all %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83031861-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
